@import "../../styles/variables.scss";

.logoBox {
  display: flex;
  gap: 0.6875rem;
  align-items: start;
  justify-content: center;
  width: 11.25rem;
  height: auto;
}

.logoIcon {
  width: 1.5625rem;
  height: 1.5625rem;
}

.logoImg {
  width: 8.625rem;
  height: 2.25rem;
}

@media screen and (max-width: 768px) {
  .logoImg {
    width: 6.25rem;
    height: 2.25rem;
  }
}
